* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 11pt;
    font-weight: bold;
}

window#waybar.pinned, 
window#waybar.floating {
    background: transparent;
}

window#waybar.pinned .modules-right {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px 14px; 
}

window#waybar.pinned .modules-left, 
window#waybar.pinned .modules-center {
    background-color: #1E1E1E;
    border-radius: 24px;
    padding: 2px 14px;
    margin-top: 8px;
    border: 1px solid #2D2D2D;
}

window#waybar.pinned .modules-right > widget {
    background-color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #2D2D2D;
    margin-left: 6px;
}

/* ------------------------------------------------- */


window#waybar.floating .modules-left, 
window#waybar.floating .modules-center
window#waybar.floating .modules-right {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#clock, #network, #bluetooth, #pulseaudio, #power-profiles-daemon, #backlight, #battery, #custom-barmodef, #workspaces button {
    background: transparent;
    color: #E8E8E8;
    box-shadow: none;
    padding: 0 10px;
}

#custom-sysmenu, #custom-lock, #custom-sleep, #custom-exit, #custom-reboot, #custom-power,#custom-nightlight, #custom-barmodep {
    background: transparent;
    color: #E8E8E8;
    box-shadow: none;
    padding: 0 10px;
    transition: all 0.3s ease;
}

/* === WIFI AND BLUETOOTH === */

#network, 
#bluetooth.connected {
    opacity: 1.0; 
}

#network.disabled, 
#network.disconnected, 
#bluetooth.on, 
#bluetooth.off, 
#bluetooth.disabled {
    opacity: 0.5;
}

/* ========================= */

#group-sysmenu {
    border-radius: 12px; 
    transition: all 0.3s ease;
    padding: 0 4px;
}

#group-sysmenu:hover #custom-sysmenu {
    font-size: 0px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#custom-lock:hover, #custom-sleep:hover, #custom-exit:hover, #custom-reboot:hover, #custom-power:hover, #custom-nightlight:hover, #custom-barmodep:hover {
    opacity: 0.5;
}

/* === UNPINNED BAR === */

#custom-barmodef {
    color: #1E1E1E;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#custom-barmodef:hover {
    opacity: 1;
}

/* ========================= */

