* {
	border: none;
	border-radius: 0;
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: bold;
}

/* glass bar */
window#waybar {
	/* this creates a 60% transparent dark tint */
	background-color: rgba(17, 17, 27, 0.6);
	color: #cdd6f4;
}

#workspaces button {
	color: #585b70; /* dimmed inactive dots */
	background: transparent;
	padding: 0 8px;
}

#workspaces button.active {
	color: #cdd6f4; /* bright active dot */
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: transparent;
}

/* modules spacing */
#clock, #network, #bluetooth, #pulseaudio, #power-profiles-daemon, #backlight, #battery {
	padding: 0 12px;
	color: #cdd6f4;
}
